{% extends "ProyectoFrontBundle:Helpers2:base.html.twig" %}
{%block body%}
<body style="">
	{% include 'ProyectoFrontBundle:Helpers2:social.html.twig' %}
	<div class="main-tab">
		<div class="main-row" style="height: 766px;">
			<div class="cell-left"></div>
			<div class="cell-middle cell-main">
				<div class="middle-tab">
					{% include 'ProyectoFrontBundle:Helpers2:lenguajes.html.twig' %}
					<div class="middle-row">
						<div class="middle-left">
							<div class="logo">
								<a title="Home page" href="{{path('proyecto_front_homepage')}}"> </a>
							</div>
							{% include 'ProyectoFrontBundle:Helpers2:menu.html.twig' %}
						</div>
						
						{%block contenido%}
						{%endblock%}
						
					
						
					</div>
				</div>
			</div>
				{%block celda%}
				{%endblock%}
			
		</div>
	</div>
	<div id="culture">
		es
	</div>
</body>
{%endblock%}