<div class="menu-cont">
	<div class="menu">
		<div class="menu-element">
			<a href="{{path('proyecto_front_biografia')}}">BIOGRAFÍA</a>
			{%if menu == 'biografia'%}
			<hr class="men-sel" style="background-color: #ffffff;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="{{path('proyecto_front_noticias')}}">NOTICIAS</a>
			{%if menu == 'noticias'%}
			<hr class="men-sel" style="background-color: #ffdd00;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="{{path('proyecto_front_carteleraoctubre')}}">CARTELERA OCTUBRE</a>
			{%if menu == 'carteleraoctubre'%}
			<hr class="men-sel" style="background-color: #780e12;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="http://www.lavictoriacultural.com/es/pagina/2/programacion.html">PROGRAMACIÓN</a>
			{%if menu == 'programacion'%}
			<hr class="men-sel" style="background-color: #ffffff;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="{{path('proyecto_front_cursoregular')}}">CURSO REGULAR PARA ACTORES 2013/2014 </a>
			{%if menu == 'cursoregular'%}
			<hr class="men-sel" style="background-color: #ec0052;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="http://www.lavictoriacultural.com/es/pagina/32/taller-de-teatro-para-aficionados.html">TALLER DE TEATRO PARA AFICIONADOS</a>
			{%if menu == 'tallerteatro'%}
			<hr class="men-sel" style="background-color: #ffffff;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="http://www.lavictoriacultural.com/es/pagina/33/los-martes-super-quiz-.html">LOS MARTES: SUPER QUIZ! </a>
			{%if menu == 'losmartes'%}
			<hr class="men-sel" style="background-color: #ffffff;">
			{%endif%}
		</div>
		<div class="menu-element spacer"></div>
		<div class="menu-element">
			<a href="http://www.lavictoriacultural.com/es/pagina/9/gastrobar-la-victoria.html">GASTROBAR LA VICTORIA</a>
			{%if menu == 'gastrobarla'%}
			<hr class="men-sel" style="background-color: #ffffff;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="http://www.lavictoriacultural.com/es/pagina/10/pres-ntanos-tu-proyecto.html">PRESÉNTANOS TU PROYECTO</a>
			{%if menu == 'presentanostu'%}
			<hr class="men-sel" style="background-color: #ffffff;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="http://www.lavictoriacultural.com/es/pagina/29/informacion-y-reservas.html">INFORMACIÓN Y RESERVAS</a>
			{%if menu == 'informaciony'%}
			<hr class="men-sel" style="background-color: #ffffff;">
			{%endif%}
		</div>
		<div class="menu-element">
			<a href="http://www.lavictoriacultural.com/es/pagina/14/reservas-y-contacto.html">RESERVAS Y CONTACTO</a>
			{%if menu == 'reservasy'%}
			<hr class="men-sel" style="background-color: #ffffff;">
			{%endif%}
		</div>
		<div class="designed-menu">
			<div class="designed" style="bottom: 0px;">
				<div>
					<span class="copyrighted">Copyrights © La Victoria</span>
				</div>
				<div>
					<a target="_blank" href="http://realego.es/">Realego ES<!--<img alt="Yeslogo.es" src="./La Victoria_files/white.png">--></a>
				</div>
			</div>
		</div>
	</div>
</div>
