<div class="share-cont">
	<div class="share-fb">
		<a target="_blank" title="On Facebook" href="https://www.facebook.com/pages/Espacio-Cultural-La-Victoria-Sala-Samotracia/287170691352664"> </a>
	</div>
	<div class="share-tw">
		<a target="_blank" title="On Twitter" href="https://twitter.com/EC_LaVictoria"> </a>
	</div>
	<div class="share-in">
		<a target="_blank" title="On LinkedIn" href="http://www.linkedin.com/company/LaVictoria"> </a>
	</div>
</div>
