<div class="lang-cont">
	<div class="lang-sel">
		
		<a title="home-page-en" href="{{path('proyecto_front_homepage', {'_locale': 'es'})}}">ES</a>
	</div>
	<div class="lang">
		<a title="home-page-en" href="{{path('proyecto_front_homepage', {'_locale': 'en'})}}">EN</a>
		
	</div>
</div>
