<footer>
	<div id="mainFooter">
		<div class="row">
			<!-- About Us -->
			<div class="span4">
				<h4>Sobre nosotros</h4>
				<p>
					Somos una organización radicada en el estado monagas sin fines de lucro
					que se encarga de proporcionar servicios a las empresas de la region
				</p>
			</div>
			<!-- Contacts -->
			<div class="span4">
				<h4>Contacto</h4>
				<address>
					<strong>SGRM</strong>
					<br />
					<i class="icon-tint"></i> C.C. Plaza Guarapiche
					<br />
					Maturin, Monagas, Venezuela
					<br />
					<i class="icon-phone"></i> (0291) 684-3455
				</address>

			</div>
			{% include 'ProyectoFrontBundle:Helpers:acceso.html.twig' %}  
		</div>
		<!-- Copy rights + subscribtion area -->
		<div class="row bord-top">
			<div class="span6 copyrights">
				Copyright 2013  SGRM Todos los derechos reservados. 
			</div>
			<div class="span6">
				<ul class="footer-social tooltip-title">
					<li>
						<a href="#" rel="tooltip" title="facebook"><i class="icon-facebook-sign"></i></a>
					</li>
					<li>
						<a href="#" rel="tooltip" title="twitter"><i class="icon-twitter-sign"></i></a>
					</li>
					<li>
						<a href="#" rel="tooltip" title="google plus"><i class="icon-google-plus-sign"></i></a>
					</li>

				</ul>
			</div>
		</div>
	</div><!--/mainFooter-->
</footer>
