{% extends "ProyectoFrontBundle:Helpers2:body.html.twig" %}

{%block contenido%}
<div class="middle-right">
	{% include 'ProyectoFrontBundle:Default2:titulo.html.twig' %}
	<div class="biography-cont">
		<p class="content-title">
			BIOGRAFÍA
		</p>
		<div class="biography-content scroll-4 jspScrollable" id="scroll-me" style="overflow: hidden; padding: 0px; width: 410px;" tabindex="0">
			<div class="jspContainer" style="width: 410px; height: 310px;">
				<div class="jspPane" style="padding: 0px 10px 0px 0px; width: 371px; top: 0px;">
					<p style="text-align: left;">
						El <strong>Espacio Cultural La Victoria</strong> abrió sus puertas en octubre de 2012 con la firme intención de convertirse en una referencia entre el público y la cultura del ocio en Madrid.&nbsp;
					</p>
					<p style="text-align: left;">
						<br>
						Sus objetivos fundamentales son la difusión del arte en la capital y la formación. Dirigido por el artista multidisciplinar <strong>Rafael Clemente</strong>, y ubicado en un enclave privilegiado de la ciudad, entre Lavapiés y el Barrio de las Letras, este espacio de más de 150 metros cuadrados reúne una amplia oferta artística: exposiciones de diversas disciplinas, teatro, música en directo, humor, talleres de creación, presentaciones, etc. se celebrarán tanto en la parte superior del local como en la <strong>Sala Samotracia</strong>, el espacio abovedado que se encuentra en el piso inferior.
						<br>
						<br>
						Situado en el número 40 de la calle Santa Isabel, el<strong> Espacio Cultural La Victoria </strong>se halla muy próximo a edificios emblemáticos como el Palacio de Fernán Núñez, los Cines Doré o la Filmoteca Nacional, así como al denominado “Triángulo de Oro” que une los museos Reina Sofía, El Prado y el Thyssen.
						<br>
						<br>
						<img src="./Biografía_files/229808_387399977996401_2077967831_n.jpg" width="300" height="111" alt="">
						<br>
						<br>
						<br>
						El nombre de <strong>La Victoria</strong> simboliza el canto a los sueños perseguidos que finalmente se hacen realidad, a la supremacía del arte sobre las demás realidades de nuestra sociedad. La casa, que fue levantada en 1914, ha estado cerrada durante medio siglo después de sobrevivir a un incendio. En una de sus vigas de madera originales, que muestra la agresividad de las llamas, puede observarse el año de construcción del edificio: <em>"La Victoria. Enero 1914"</em>. Decorado con gusto contemporáneo, toda la magia arquitectónica ha quedado intacta. Y es que gran parte del interior del local ha sido conservado en su integridad, como las columnas de hierro forjado, las maderas de las ventanas o la propia fachada, considerada patrimonio histórico. La tienda de ultramarinos que abría sus puertas en la segunda década del siglo XX en ese mismo lugar se llamaba también<strong> La Victoria.</strong> Mantener el nombre es un guiño al concepto atemporal del arte.
						<br>
						<br>
						Somos conscientes de las dificultades sociales que nos afectan, y por ello, en medio de la crisis, presentamos este oasis donde compartir el tiempo con los demás, comprender y ser partícipe de las inquietudes culturales como vía para una regeneración social cada vez más necesaria.
						<br>
						<br>
						Bienvenido a<strong> La Victoria</strong>. A tu victoria.
					</p>
				</div>

			</div>
		</div>
		<div class="lower-text"></div>
		<div class="lower-box"></div>
		<div class="biography-logo"></div>
	</div>
	<div class="biography-big-text">
		ESPACIO CULTURAL
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right"></div>
{%endblock%} 