{% extends "ProyectoFrontBundle:Helpers2:body.html.twig" %}

{%block imagenes%}
var images = ["{{asset('uploads/background/f599610b25f9ce9ec71dcd04ce8761f7.jpg')}}"];

{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	<div class="middle-right-sub-back">
		<div class="black-top"></div>
		<div>
			<div class="black-top-left"></div>
			<div class="black-top-right"></div>
		</div>
		<div class="black-middle"></div>
		<div>
			<div class="black-middle-left"></div>
			<div class="black-middle-right"></div>
		</div>
		<div class="black-bottom" style="height: 766px;"></div>
	</div>
	<div class="top-main-text">
		<div class="top-main-big">
			LA VICTORIA
		</div>
		<div class="top-main-small">
			ESPACIO CULTURAL
		</div>
	</div>
	<div class="upper-text" style="background-color: #bac8d1 !important"></div>
	<div class="content-cont">
		<p class="content-title">
			GASTROBAR LA VICTORIA
		</p>
		<div class="content scroll-2 jspScrollable" id="scroll-me" style="overflow: hidden; padding: 0px; width: 410px;" tabindex="0">
			<div class="jspContainer" style="width: 410px; height: 180px;">
				<div class="jspPane" style="padding: 0px 10px 0px 0px; width: 400px; left: 0px; top: 0px;">
					<p style="text-align: left;"><img src="{{asset('uploads/image/Sala%20Samotracia/carta.jpg')}}" width="414" height="2268" alt="">
						<br>
						<br>
						La parte superior del espacio cultural está destinada a nuestro <strong>gastrobar</strong>, y sus paredes a la exhibición de obras de arte. Con una decoración ecléctica y única, que evoca diversas épocas de florecimiento artístico, <strong>La Victoria</strong> ofrece un lugar donde desconectar del murmullo urbano paladeando un exquisito café, degustando nuestras originales tapas o saboreando alguno de los cócteles elaborados por las expertas manos de nuestros barman.
					</p>
					<p style="text-align: left;">
						<br>
						La elegancia y la cuidada atención de nuestro servicio, junto a la posibilidad de disfrutar de la actividad de cada momento, convierten la cafetería de <strong>La Victoria</strong> en la elección ideal. Puedes acudir a desayunar a primera hora de la mañana o en el break matutino, a comer o cenar con nuestras tapas, ensaladas y snacks, o a relajarte <em>afterwork </em>disfrutando de nuestra propuesta de combinados hasta la madrugada.   Whiskies, rones o ginebras componen una carta de coctelería que no se olvida de los gustos más especiales.
						<br>
						<br>
						Y, lo más importante: a precios que se adaptan a todas las economías.    Para hacer más cómoda la estancia de nuestros clientes, una red Wi-Fi está disponible para quienes deseen conectarse a través de sus dispositivos portátiles. Además, los animales de compañía son bien recibidos.<strong>&nbsp;</strong>
					</p>
					<p style="text-align: left;">
						&nbsp;
					</p>
				</div>
				<div class="jspVerticalBar">
					<div class="jspCap jspCapTop"></div>
					<div class="jspTrack" style="height: 164px;">
						<div class="jspDrag" style="height: 9px; top: 0px;">
							<div class="jspDragTop"></div><div class="jspDragBottom"></div>
						</div>
					</div><div class="jspCap jspCapBottom"></div>
				</div>
				<div class="jspHorizontalBar">
					<div class="jspCap jspCapLeft"></div>
					<div class="jspTrack" style="width: 385px;">
						<div class="jspDrag" style="width: 373px; left: 0px;">
							<div class="jspDragLeft"></div><div class="jspDragRight"></div>
						</div>
					</div><div class="jspCap jspCapRight"></div><div class="jspCorner" style="width: 16px;"></div>
				</div>
			</div>
		</div>
		<div class="lower-text"></div>
		<div class="lower-box">
			<div class="lower-cent">
				<a title="Programación" href="/es/pagina/2/103/9/programacion.html"><img alt="go to calendar" src="{{asset('images/site/2012_10_17_ciecie_06.png')}}"></a>
			</div>
		</div>
		<div class="content-image">
			<div class="image"><img alt="paracafeteria" src="{{asset('uploads/media/small/77b34bf527be49706eb4b7fceb4ba7a9.jpg')}}">
			</div>
		</div>
	</div>
	<div class="main-big-title">
		<div class="theme-sel-2">
			GASTROBAR LA VICTORIA
		</div>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 