{% extends "ProyectoFrontBundle:Helpers2:body.html.twig" %}

{%block imagenes%}
var images = ["http://www.lavictoriacultural.com/uploads/background/bd9b29e7d7880a75224f0f962f76ced3.jpg", "http://www.lavictoriacultural.com/uploads/background/335512c1b16dee1008ded0ae789d02f4.jpg", "http://www.lavictoriacultural.com/uploads/background/87ebb9282129e44dc3fb28cec9891d88.jpg", "http://www.lavictoriacultural.com/uploads/background/11fdbfaabc2405f38c3f50bd6e36033c.jpg", "http://www.lavictoriacultural.com/uploads/background/4e24e6be914d00db152584d50f64769b.jpg", "http://www.lavictoriacultural.com/uploads/background/b2d94347b44bfa556b1e3900b5f0c6dd.jpg", "http://www.lavictoriacultural.com/uploads/background/4bba2d019d2747797b79d464eb24c272.jpg"];
{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	{% include 'ProyectoFrontBundle:Default2:titulo.html.twig' %}
	<div class="main-big-text">
		<p>
			ESPACIO
			<br>
			CULTURAL
		</p>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 