{% extends "ProyectoFrontBundle:Helpers2:body.html.twig" %}

{%block imagenes%}
var images = ["{{asset('uploads/background/051b62a1bb90cf767949742b4da32890.jpg')}}"];

{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	<div class="middle-right-sub-back">
		<div class="black-top"></div>
		<div>
			<div class="black-top-left"></div>
			<div class="black-top-right"></div>
		</div>
		<div class="black-middle"></div>
		<div>
			<div class="black-middle-left"></div>
			<div class="black-middle-right"></div>
		</div>
		<div class="black-bottom" style="height: 1170px;"></div>
	</div>
	<div class="top-main-text">
		<div class="top-main-big">
			LA VICTORIA
		</div>
		<div class="top-main-small">
			ESPACIO CULTURAL
		</div>
	</div>
	<div class="upper-text" style="background-color: #ffdd00 !important"></div>
	<div class="news-cont">
		<hr>
		<p class="content-title">
			NOTICIAS
		</p>
		<div class="content-news scroll-10">
			<div class="news-cell">
				<div class="news-left">
					03/10/2013
				</div>
				<div class="news-right">
					<div class="news-title-more">
						El Espacio Cultural La Victoria cumple un año en un mes de octubre lleno de humor, magia, música y teatro
					</div>
					<div class="rel">
						<div class="news-more">
							El Espacio Cultural La Victoria cumple un año en un mes de octubre lleno de humor, magia, música y teatro
						</div>
						<div class="news-more-inside">
							<div class="rel">
								<div class="close-window"></div>
							</div>
							<div class="news-left">
								03/10/2013
							</div>
							<div class="news-right">
								<div class="news-title">
									El Espacio Cultural La Victoria cumple un año en un mes de octubre lleno de humor, magia, música y teatro
								</div>
								<div class="content-news-inside news-image-margin">
									<div class="scroll-me-news" style="overflow: hidden; padding: 0px; width: 290px;">
										<div class="jspContainer" style="width: 290px; height: 250px;">
											<div class="jspPane" style="padding: 0px; top: 0px; width: 290px;">
												<p>
													En el&nbsp;<strong>Espacio Cultural La Victoria&nbsp;</strong><strong>cumplimos un año de historia en octubre</strong>, tiempo en el que hemos presentado alrededor&nbsp;un centenar de espectáculos&nbsp;que han disfrutado&nbsp;miles de personas. La actividad de nuestra&nbsp;Sala Samotracia&nbsp;(planta inferior abovedada) es cada vez mayor, y sus organizadores siguen apostando con fuerza por el teatro, la música en vivo y los espectáculos para niños y adultos.
												</p>
												<p>
													&nbsp;En nuestro local situado en la Calle Santa Isabel ofrecemos durante el mes de octubre una programación pensada para todas las edades. La premiada <strong>‘La Vida es sueño: El Bululú’</strong> de Jesús Torres, la adaptación de la genial y absurda<strong> ‘Fando y Lis’ </strong>de Fernando Arrabal y las desternillantes ‘Las Magdalenas’ y ‘Se quedó muerta’ son las propuestas den arte dramático.
												</p>
												<p>
													La agenda también da cabida a los monólogos de <strong>Comedy Wars</strong>, al jazz de <strong>La Victoria Ensamble</strong>, la samba de <strong>Garôa </strong>o la música de autor del colectivo<strong> Música Por La Voluntad</strong>, mientras que los más pequeños podrán deleitarse con los shows de<strong> Magia en tu Centro</strong>, que estará también disponible en versión bilingüe.<o:p></o:p>
												</p>
												<p>
													También la formación es un aspecto que cuidamos desde La Victoria. De hecho, en colaboración con <strong>Espacio MBT</strong> presentamos un <a href="http://www.lavictoriacultural.com/es/pagina/30/curso-regular-para-actores-2013-2014.html">‘<span style="color: rgb(128, 0, 0);">Curso Regular para Actores</span>’</a>, especialmente diseñado para todos aquellos interesados en conocer las herramientas necesarias sobre interpretación y comenzar a moverse en el medio. &nbsp;<o:p></o:p>
												</p>
												<p>
													El <span style="color: rgb(0, 0, 0);">gastrobar&nbsp;</span>de la parte superior del espacio continúa recolectando adeptos, gracias a sus cómodos sillones y la amabilidad del servicio, que ayudan a que siga creciendo&nbsp; como punto de encuentro en la zona Barrio de las Letras y Lavapiés.<o:p></o:p>
												</p>
												<p>
													En el Espacio Cultural La Victoria <strong>apostamos por la Cultura</strong>. <span style="font-family: Arial;">¿</span>Y tú?<span lang="ES" style="font-size:
													11.0pt;mso-ansi-language:ES"><o:p></o:p></span>
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="news-image">
								<a title="V" rel="lightbox" href="http://www.lavictoriacultural.com/uploads/media//511e63aa531f4c7557e35fd070f161fd.jpg"><img alt="V" src="./Noticias_files/511e63aa531f4c7557e35fd070f161fd.jpg"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="news-cell">
				<div class="news-left">
					02/09/2013
				</div>
				<div class="news-right">
					<div class="news-title-more">
						Teatro, música y magia para toda la familia en Septiembre
					</div>
					<div class="rel">
						<div class="news-more">
							La programación del Espacio Cultural La Victoria arranca el nuevo curso
						</div>
						<div class="news-more-inside">
							<div class="rel">
								<div class="close-window"></div>
							</div>
							<div class="news-left">
								02/09/2013
							</div>
							<div class="news-right">
								<div class="news-title">
									Teatro, música y magia para toda la familia en Septiembre
								</div>
								<div class="content-news-inside news-inside-margin">
									<div class="scroll-me-news-wide" style="overflow: hidden; padding: 0px; width: 370px;">
										<div class="jspContainer" style="width: 370px; height: 250px;">
											<div class="jspPane" style="padding: 0px; top: 0px; width: 370px;">
												<p>
													<span style="font-family: Tahoma;"><strong>¡</strong></span><strong>Todo por aquí, todo por allá!</strong>
													<br>
													<br>
													Y es que en el <strong>Espacio Cultural La Victoria,</strong> lo tenemos todo. A nuestra habitual oferta cultural, integrada principalmente por obras de teatro adaptadas al pequeño formato (<strong>Santi Senso</strong> o <strong>Arranca Thelma Producciones </strong>en septiembre) y conciertos de música (La Victoria Ensemble, Marta Cascales, Música por la Voluntad, Garôa, etc.), este curso añadimos la magia, de la mano de <strong>Magia en tu Centro, </strong>un ameno espectáculo ameno ideal para disfrutarlo en familia.
												</p>
												<p>
													Seguimos ampliando nuestra cartelera, con monólogos de humor, más música, fiestas y eventos especiales, y muchas más sorpresas que os iremos contando. Estad atentos a nuestra web y a nuestras redes sociales :)
													<br>
													<br>
													<br>
													<br>
													&nbsp;
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="news-cell">
				<div class="news-left">
					11/07/2013
				</div>
				<div class="news-right">
					<div class="news-title-more">
						El saxofonista Rainer Pusch impartirá el domingo 28 de julio un seminario en el Espacio Cultural La Victoria
					</div>
					<div class="rel">
						<div class="news-more">
							Además participará en un concierto abierto al público a partir de las 21.00 horas
						</div>
						<div class="news-more-inside">
							<div class="rel">
								<div class="close-window"></div>
							</div>
							<div class="news-left">
								11/07/2013
							</div>
							<div class="news-right">
								<div class="news-title">
									El saxofonista Rainer Pusch impartirá el domingo 28 de julio un seminario en el Espacio Cultural La Victoria
								</div>
								<div class="content-news-inside news-inside-margin">
									<div class="scroll-me-news-wide" style="overflow: hidden; padding: 0px; width: 370px;">
										<div class="jspContainer" style="width: 370px; height: 250px;">
											<div class="jspPane" style="padding: 0px; top: 0px; width: 370px;">
												<p><img src="./Noticias_files/l.jpg" width="400" height="300" alt="">
													<br>
													<br>
													El saxofonista alemán<strong>&nbsp;Rainer Pusch </strong>estará&nbsp;el domingo 28 de julio en el Espacio Cultural La Victoria. Será una tarde/noche repletas de música que se fraccionará en tres partes:
													<br>
													<br>
													•De 16h30 a 18.00 h: <strong>Introducción a los músicos al mundo/lenguaje del jazz</strong>. Se responderá a dudas existencialistas como: “¿Por qué tocar jazz?” :)
													<br>
													<br>
													•De las 18h30 a las 20:00 h: <strong>clase enfocada a músicos con más experiencia.</strong> Se trabajarán cuestiones como el sonido, el fraseo, y otros conceptos.&nbsp;
													<br>
													<br>
													•A las 21.00 h. dará comienzo un <strong>concierto de jazz</strong> (fundamentalmente estándares) donde contaremos con Rainer Pusch al saxofón, con la impecable guitarra de Andrés García, con el portentoso walking de Daniel Lisón al bajo y con Rubén Gonzalo Gleyzes a la batería.
													<br>
													<br>
													El precio para participar a una de las dos clases: 10 €
													<br>
													Asistencia a las dos clases: 15 €&nbsp;
													<br>
													<br>
													El concierto está abierto a todo el mundo. El público aportará el dinero que considere oportuno.
													<br>
													<br>
													¡Besos y abrazos!
												</p>
												<p>
													&nbsp;
												</p>
												<div>
													&nbsp;
												</div>
												<div>
													&nbsp;
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="news-cell">
				<div class="news-left">
					08/06/2013
				</div>
				<div class="news-right">
					<div class="news-title-more">
						Junio: un mes lleno de música y humor en nuestro Espacio Cultural
					</div>
					<div class="rel">
						<div class="news-more">
							Monólogos, vodevil, arlequines, jazz, funk... Empieza el verano en el local de moda de Madrid
						</div>
						<div class="news-more-inside">
							<div class="rel">
								<div class="close-window"></div>
							</div>
							<div class="news-left">
								08/06/2013
							</div>
							<div class="news-right">
								<div class="news-title">
									Junio: un mes lleno de música y humor en nuestro Espacio Cultural
								</div>
								<div class="content-news-inside news-image-margin">
									<div class="scroll-me-news" style="overflow: hidden; padding: 0px; width: 290px;">
										<div class="jspContainer" style="width: 290px; height: 250px;">
											<div class="jspPane" style="padding: 0px; top: 0px; width: 290px;">
												<p>
													&nbsp;
												</p>
												<p>
													Este mes de junio hemos querido ofrecerte una selección artística de gran nivel y, como siempre, al mejor precio.&nbsp;
													<br>
													<br>
													Los estilos musicales que podrás disfrutar en La Victoria van desde el jazz de<span style="color: rgb(128, 0, 0);"><strong> LA VICTORIA ENSAMBLE</strong></span>, un <strong><span style="color: rgb(128, 0, 0);">DÚO </span></strong>de chelo &nbsp;y piano, o las deliciosa propuesta de<span style="color: rgb(128, 0, 0);"><strong> ODO JAZZ</strong></span>, hasta el funk de <span style="color: rgb(128, 0, 0);"><strong>JAZZTONIC</strong></span>, las voces de cantautores como <strong><span style="color: rgb(128, 0, 0);">NATXO LABORDA </span></strong>o los integrantes de <span style="color: rgb(128, 0, 0);"><strong>MXV - MÚSICA POR LA VOLUNTAD</strong></span> y los ritmos brasileños de <strong><span style="color: rgb(128, 0, 0);">GARÔA</span></strong>.
													<br>
													<br>
													Por supuesto, contamos cada miércoles con las fechorías habituales que tienen lugar en <span style="color: rgb(128, 0, 0);"><strong>LAS LECCIONES DE LA SEÑORITA CONSOLACIÓN</strong></span>, quienes nos encandilarán con sus canciones interpretadas al auténtico estilo de los años 20, y vuelve a nuestra cartelera el hermoso espectáculo<span style="color: rgb(128, 0, 0);"><strong> METAMORFOSIS DE ARLEQUÍN</strong></span>, con un precio muy especial si vienes a disfrutar de las delicias de nuestro gastrobar.
													<br>
													<br>
													Además, este mes estamos especialmente contentos porque vuelve a nuestra Sala Samotracia el humor de los mejores monólogos, de la mano de <span style="color: rgb(128, 0, 0);"><strong>STAND UP COMEDY</strong></span> y su espectáculo <span style="color: rgb(128, 0, 0);"><strong>COMICOCOS</strong></span>, que tendrá lugar cada domingo a partir del día 16.
												</p>
												<p>
													&nbsp;
												</p>
												<p style="text-align: center;">
													<strong><span style="font-family: Tahoma;">¡</span>TE ESPERAMOS CON LAS ALAS ABIERTAS!</strong>
												</p>
												<p>
													&nbsp;
												</p>
												<p>
													&nbsp;
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="news-image">
								<a title="V" rel="lightbox" href="http://www.lavictoriacultural.com/uploads/media//511e63aa531f4c7557e35fd070f161fd.jpg"><img alt="V" src="./Noticias_files/511e63aa531f4c7557e35fd070f161fd.jpg"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="news-cell">
				<div class="news-left">
					28/05/2013
				</div>
				<div class="news-right">
					<div class="news-title-more">
						El curso intensivo "Las herramientas del Actor" en Sala Samotracia
					</div>
					<div class="rel">
						<div class="news-more">
							Se impartirá por María Castillo y Beatriz Pasamón en el mes de julio.
						</div>
						<div class="news-more-inside">
							<div class="rel">
								<div class="close-window"></div>
							</div>
							<div class="news-left">
								28/05/2013
							</div>
							<div class="news-right">
								<div class="news-title">
									El curso intensivo "Las herramientas del Actor" en Sala Samotracia
								</div>
								<div class="content-news-inside news-image-margin">
									<div class="scroll-me-news" style="overflow: hidden; padding: 0px; width: 290px;">
										<div class="jspContainer" style="width: 290px; height: 250px;">
											<div class="jspPane" style="padding: 0px; top: 0px; width: 290px;">
												<p>
													<strong>Sala Samotracia</strong> y <strong>Espacio MBT&nbsp;</strong>presentan este curso especialmente diseñado para todos aquellos interesados en conocer las herramientas necesarias para llevar a cabo una buena interpretación y para comenzar a moverse en el medio.
												</p>
												<p>
													"Trabajamos con las técnicas y los métodos de los mejores profesionales del medio. Una oportunidad única de aprender y poner en práctica el arte de la interpretación en un ambiente ameno y divertido", explican las instructoras Maria Castillo y Beatriz Pasamon, profesionales en activo del medio.
												</p>
												<p>
													&nbsp;
												</p>
												<p>
													&nbsp;
												</p>
												<p>
													<strong>Programa del curso</strong>
												</p>
												<p>
													<strong>OBJETIVOS GENERALES</strong>
												</p>
												<p>
													Conseguir que el alumno comprenda y experimente que el movimiento nace de la acción interna y que es fruto de la necesidad orgánica de expresar algo que está dentro de nosotros mismos. El movimiento escénico debe ser consciente, es decir, nos damos cuenta &nbsp;no sólo de que se está produciendo, sino que necesitamos saber cómo &nbsp;lo estamos llevando a cabo. Por lo tanto necesitamos desarrollar la percepción sensorial de nosotros mismos hasta hacerla lo más fiable posible. Asimismo es necesario aprender a permitir que el movimiento responda a impulsos genuinos y auténticos, de modo que se exista verdad en nuestra manera de movernos en el espacio escénico.
												</p>
												<p>
													Experimentar la máxima libertad y fluidez posible nuestros movimientos es algo no sólo deseable en el actor sino que es necesario para interpretar el personaje.&nbsp;
												</p>
												<p>
													<strong>Otros objetivos son:&nbsp;</strong>
												</p>
												<p>
													-Descubrir que es presencia escénica y como mantenerla durante un movimiento.
												</p>
												<p>
													-Comprender y experimentar que el equilibrio es una función de la inteligencia.
												</p>
												<p>
													-Mejorar la coordinación
												</p>
												<p>
													-Buscar siempre la justeza o economía (impecabilidad) y la precisión, intentando que no falte ni sobre nada cuando generamos movimientos.
												</p>
												<p>
													-Preparar músculos, articulaciones y tendones para que respondan de la manera más eficaz a las necesidades internas de expresar algo.&nbsp;
												</p>
												<p>
													-Trabajar siempre desde la idea de que somos criaturas psicofísicas en actividad y que nos movemos y actuamos como individuos completos. No es una clase de “cuerpo”. Es cuerpo y mente a la vez.
												</p>
												<p>
													-Adquirir &nbsp;los conocimientos básicos de anatomía de fisiología humanas que afectan a nuestro desarrollo como actores y siempre enfocadas a una práctica concreta.
												</p>
												<p>
													- Profundizar en los objetivos del nivel anterior integrando las premisas técnicas estudiadas he insistiendo en el correcto funcionamiento de los mecanismos del instrumento actoral (eliminación de resistencias, enriquecimiento y habilidades, vivencia de situaciones imaginarias, conciencia y ampliación de medios expresivos…)
												</p>
												<p>
													- Proporcionar al alumno las herramientas necesarias para que pueda encarnar personajes de forma orgánica, imaginativa y eficaz.
												</p>
												<p>
													- Capacitar al alumno &nbsp;para reconocer desde el análisis dramatúrgico los componentes básicos de la obra, centrándose en el trabajo específico de la escena.
												</p>
												<p>
													- Entrenar al actor en el trabajo sobre diferentes poéticas enfrentándole a las dificultades que genere cada una de ellas (género y estilo).
												</p>
												<p>
													- Como afrontar un casting (que hay que hacer)
												</p>
												<p>
													- Que tipo de perfil comercial tienes? (según carácter, fisonomía etc…)
												</p>
												<p>
													&nbsp;
												</p>
												<p>
													<strong>ESTRUCTURA DE LAS CLASES</strong>
												</p>
												<p>
													- La primera parte de la clase se dedicará a &nbsp;un calentamiento pormenorizado. Insistiremos en el fortalecimiento de los músculos de reflejo antigravitatorio y gradualmente se ira trabajando la musculatura esquelética para conseguir el máximo rendimiento y control expresivo. &nbsp;Este calentamiento que está basado entre fuentes principales:
												</p>
												<p>
													- Juegos ( técnica Alexander) de Dylis Carrington.
												</p>
												<p>
													- La Tensegridad (movimientos para liberar la energía de músculos y tendones).
												</p>
												<p>
													- Voz (problemas de dicción).
												</p>
												<p>
													- La segunda parte de la clase se dedicará a prácticas escénicas de movimiento. Estas son:
												</p>
												<p>
													- El acto de estar de pie. Focos visuales. El acto de caminar. Entrar y salir de escena. Variantes y ritmos.
												</p>
												<p>
													- Manipulación de objetos. Actividades. Manejos de elementos escenográficos y mobiliario.
												</p>
												<p>
													- Movimiento en grupo. Coro. Composiciones entre varios actores.
												</p>
												<p>
													- Caracterización a través del movimiento. El personaje.&nbsp;
												</p>
												<p>
													&nbsp;
												</p>
												<p>
													<strong>CONTENIDOS</strong>
												</p>
												<p>
													-Los sucesos. Bloques de acción. Transiciones &nbsp;y rompimientos.
												</p>
												<p>
													-Ejercicios de improvisación como personaje. (Circunstancias dadas, objetivos, razones, conflictos, antecedentes, relaciones, estados de ánimos…)
												</p>
												<p>
													-Línea de acción del personaje. Línea de pensamiento.
												</p>
												<p>
													-Exploración racional de la escena.
												</p>
												<p>
													-Relaciones con los demás personajes.
												</p>
												<p>
													-Las atmósferas.
												</p>
												<p>
													-La intención es su lógica. El sentido de la forma. Tiempo y ritmo.
												</p>
												<p>
													&nbsp;
												</p>
												<p>
													<strong>METODOLOGÍA</strong>
												</p>
												<p>
													La metodología del curso se basa en la comprensión a partir de la acción y en el uso de la imaginación como elemento central en el proceso creador. Las clases tendrán un desarrollo práctico con un seguimiento individualizado a través de las distintas escenas y monólogos trabajados. El alumno integra y supera la técnica, y mientras “aclara” la escena aborda sus problemas específicos, insistiendo en sus ensayos particulares. En clase se confronta el trabajo realizado y se buscan posibles soluciones a los problemas surgidos.
												</p>
												<p>
													&nbsp;
												</p>
												<p>
													&nbsp;
												</p>
												<p>
													&nbsp;
												</p>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="news-image">
								<a title="curso herramientas" rel="lightbox" href="http://www.lavictoriacultural.com/uploads/media//3e0554304e4517bac4e814492c4f9a0c.jpg"><img alt="curso herramientas" src="./Noticias_files/3e0554304e4517bac4e814492c4f9a0c.jpg"></a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="next-news p-2"></div>
		</div>
		<div class="lower-text"></div>
		<div class="lower-box"></div>
		<div class="content-image">
			<div class="image"><img alt="infonoticias" src="{{asset('uploads/media/small/3734d2ab1e412a5584c1ea433f7c51c0.jpg')}}">
			</div>
		</div>
	</div>
	<div class="main-big-title news-big-title">
		<div class="theme-sel-10">
			Noticias
		</div>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 