{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}

	var images =  ["{{asset('uploads/resource/images/1a8aadd2c7351a55ab453db93d6c1b71.jpg')}}"];
	
{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	{% include 'ProyectoFrontBundle:Default:titulo.html.twig' %}

	<div class="biography-cont">
		<p class="content-title">
			{{article.name}}
		</p>
		<div class="biography-content scroll-4" id="scroll-me">
			{{article.content|raw}}

			<p><img alt="" src="{%if  media is not null%}{{ media.getWebPath | apply_filter('my_thumb2') }}{%endif%}"></p>
		</div>
		<div class="lower-text"></div>
		<div class="lower-box"></div>
		<div class="biography-logo"></div>
	</div>
</div>




{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 