{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}

	var images =  ["{{ asset(''~ resource.getWebPath ~'') }}"];
	
{%endblock%}

{%block contenido%}
<div class="middle-right">
	{% include 'ProyectoFrontBundle:Default:titulo.html.twig' %}

	<div class="biography-cont">
		<p class="content-title">
			BIOGRAFÍA
		</p>
		<div class="biography-content scroll-4" id="scroll-me">
			{{page.content|raw}}
			{{page.media|raw}}
		</div>
		<div class="lower-text"></div>
		<div class="lower-box"></div>
		<div class="biography-logo"></div>
	</div>
	<div class="biography-big-text">
		ESPACIO CULTURAL
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right"></div>
{%endblock%} 