{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{asset('uploads/background/c3cc38c3ccd07116b5e055d29ae183f3.jpg')}}"];

{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	<div class="middle-right-sub-back">
		<div class="black-top"></div>
		<div>
			<div class="black-top-left"></div>
			<div class="black-top-right"></div>
		</div>
		<div class="black-middle"></div>
		<div>
			<div class="black-middle-left"></div>
			<div class="black-middle-right"></div>
		</div>
		<div class="black-bottom" style="height: 817px;"></div>
	</div>
	<div class="top-main-text">
		<div class="top-main-big">
			LA VICTORIA
		</div>
		<div class="top-main-small">
			ESPACIO CULTURAL
		</div>
	</div>
	<div class="upper-text" style="background-color: #780e12 !important"></div>
	<div class="content-cont">
		<p class="content-title">
			CARTELERA OCTUBRE
		</p>
		<div class="content scroll-7 jspScrollable" id="scroll-me" style="overflow: hidden; padding: 0px; width: 410px;" tabindex="0">
			<div class="jspContainer" style="width: 410px; height: 180px;">
				<div class="jspPane" style="padding: 0px 10px 0px 0px; width: 371px; top: 0px;">
					<p style="text-align: center;"><img src="{{asset('uploads/image/Cartelera/CABECERACARTE.jpg')}}" width="380" height="84" alt="">
						<br>
						&nbsp;
					</p>
					<p style="text-align: center;"><img src="{{asset('uploads/image/Cartelera/TEATROCARTE.jpg')}}" width="380" height="84" alt="">
					</p>
					<p style="text-align: center;">
						&nbsp;
					</p>
					<div style="text-align: center;">
						&nbsp;
					</div>
					<div style="text-align: left;">
						<span style="font-size: large;"><span style="text-align: center;"><strong><span style="color: rgb(128, 0, 0);">LA VIDA ES SUEÑO: EL BULULÚ&nbsp;
									<br>
								</span></strong></span></span><span style="color: rgb(128, 0, 0);"><strong>
							<br>
							Cuándo:&nbsp;</strong></span>Domingos 6, 13, 20 y 27 de octubre&nbsp;
						<br>
						<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>20.00 h.
						<br>
						<span style="color: rgb(128, 0, 0);"><strong>Precio</strong></span>: 10 euros con consumición
						<br>
						<br>
						<img src="/uploads/image/Sala%20Samotracia/lve%C3%B1%20promo%20grito%20cortada(1).jpg" width="380" height="341" alt="">
						<br>
						<br>
						Con "La vida es sueño: el bululú", nuestra sala viajará cuatrocientos años atrás para convertirse en una Taberna madrileña del Siglo XVII donde se realizan representaciones teatrales clandestinas. En 1648, la villa de Madrid es azotada por los cierres de los corrales de comedia y los actores son perseguidos. Es entonces cuando el pueblo se reúne en sótanos de tabernas, como la nuestra, para asistir a la representación de la obra de Calderón de la mano de un bululú, un único actor que interpreta todos los personajes de esta obra clave de nuestra historia.
					</div>
					<div style="text-align: left;">
						<strong><em>
						<br>
						</em></strong><span style="color: rgb(128, 0, 0);">Nominado Mejor Obra Andaluza 2013 por la Junta de Andalucía
							<br>
						</span><font color="#800000">Premio del Público a Mejor Obra del Circuito de Castilla La Mancha 2012
							<br>
						</font><span style="font-size: large;"><strong><span style="color: rgb(128, 0, 0);">
								<br>
								<br>
								<br>
								<br>
								LAS MAGDALENAS&nbsp;</span></strong></span><strong><span style="color: rgb(128, 0, 0);"><span style="font-size: medium;"><span style="font-size: x-large;">&nbsp;
									<br>
								</span></span></span></strong><span style="color: rgb(128, 0, 0);"><strong>
							<br>
							Cuándo:&nbsp;</strong></span>Miércoles 2, 9, 16, 23 y 30 de octubre&nbsp;
						<br>
						<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>20.00 y 22.00 h. (doble sesión)
						<br>
						<span style="color: rgb(128, 0, 0);"><strong>Precio</strong></span>: 10 euros con consumición
						<br>
						<span style="color: rgb(128, 0, 0);">Obra con intérprete en vivo de lengua de signos para sordomudos</span>
					</div>
					<p style="text-align: left;">
						<br>
						<img src="/uploads/image/Sala%20Samotracia/Magda.jpg" width="380" height="190" alt="">
						<br>
						<br>
						<br>
						Magdalena, una joven en peligro, acude al convento donde su amiga María está pasando una temporada. Magdalena encuentra el convento como lugar perfecto para esconderse. María, que siente una especial debilidad por ella, se arriesga ayudándole a hacerse hacerse pasar por monjita. Poco a poco se van descubriendo las peculiaridades de religiosas que viven allí. Pero la suerte de todas cambia cuando María descubre su verdadera identidad y Magdalena decide poner en marcha un nuevo negocio. A partir de aquí los conflictos están servidos en clave de humor.
						<br>
						<span style="font-family: Arial;"><span style="color: rgb(128, 0, 0);"><strong><span style="font-size: large;">
									<br>
									<br>
									<br>
									¡</span></strong></span></span><span style="color: rgb(128, 0, 0);"><strong><span style="font-size: large;">SE QUEDÓ MUERTA!&nbsp;
								<br>
							</span></strong></span><span style="color: rgb(128, 0, 0);"><strong>
							<br>
							Cuándo:&nbsp;</strong></span>Viernes 4, 11, 18 y 25 de octubre
						<br>
						<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>&nbsp;21.00 h.
						<br>
						<font color="#800000"><b>Precio:&nbsp;</b></font>&nbsp;10 euros con consumición
						<br>
						<br>
						<img src="/uploads/image/Sala%20Samotracia/Muerta+.jpg" width="380" height="161" alt="">
						<br>
						<br>
						Emi acaba de quedarse viuda. La visita Chichi, una amiga de la infancia, y la lectura del testamento de su marido, nos sumergirán en una historia delirante en la que los personajes van descubriendo poco a poco cuáles eran sus verdaderas intenciones.
						<br>
						<span style="font-family: Arial;"><span style="color: rgb(128, 0, 0);"><strong><span style="font-size: large;">
									<br>
									<br>
									<br>
									FANDO Y LIS</span></strong></span></span><span style="color: rgb(128, 0, 0);"><strong><span style="font-size: large;">&nbsp;
								<br>
							</span></strong></span><span style="color: rgb(128, 0, 0);"><strong>
							<br>
							Cuándo:&nbsp;</strong></span>Sábados 5, 12, 19 y 26 de octubre
						<br>
						<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>&nbsp;21.00 h.
						<br>
						<font color="#800000"><b>Precio:&nbsp;</b></font>&nbsp;10 euros con consumición
					</p>
					<div>
						&nbsp;
					</div>
					<div><img src="/uploads/image/FandoYlisBanner.jpg" width="380" height="161" alt="">
						<br>
						<br>
						La compañía 23 razones nos trae la gran obra maestra del absurdo español, escrita por el maestro Fernando Arrabal. Lis es paralítica. Fando la cuida. Son pareja. Se quieren, eso está claro. Pero Lis se va a morir. Y se lo cuenta a Fando. Y eso a Fando lo entristece muchísimo porque Fando, ante todo, no quiere que Lis se muera. Y Lis quiere que Fando la lleve a Tar. En un carrito, con un tambor dentro, para tocar canciones por el camino y ser felices y ver los árboles, las piedras y las flores. Y Fando la lleva. No entiende para qué, pero si a Lis le gusta, entonces todo está bien...&nbsp;
						<br>
						<br>
						&nbsp;
					</div>
					<hr>
					<div>
						<br>
						<br>
						<img src="/uploads/image/Cartelera/MUSICACARTE.jpg" width="380" height="84" alt="">
					</div>
					<div>
						&nbsp;
					</div>
					<div style="text-align: left;">
						<span style="font-size: large;"><span style="color: rgb(128, 0, 0);"><strong>
								<br>
								LA VICTORIA ENSAMBLE &nbsp;
								<br>
								</strong></span></span><span style="color: rgb(128, 0, 0);"><strong>
							<br>
							Cuándo:&nbsp;</strong></span>Los jueves de octubre
						<br>
						<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>A partir de las 22.00 h.
						<br>
						<b style="color: rgb(128, 0, 0);">El precio lo pones tú
						<br>
						</b>
						<br>
						<br>
						<img src="/uploads/image/Sala%20Samotracia/LVE2.jpg" width="380" height="232" alt="">
						<br>
						<br>
						Ven y disfruta de las jornadas jazzeras más victoriosas.Te proponemos una sesión de música que te enganchará con sus deliciosas interpretaciones de standars de jazz y soul.
						<br>
						<strong><span style="font-size: large;"><span style="color: rgb(128, 0, 0);">
								<br>
								<br>
								<br>
								MÚSICA POR LA VOLUNTAD&nbsp;
								<br>
							</span></span></strong><span style="color: rgb(128, 0, 0);"><strong>
							<br>
							Cuándo:&nbsp;</strong></span>Sábados 12 y 26 de octubre
						<br>
						<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>22.45 h.
						<br>
						<font color="#800000"><b>Precio:&nbsp;</b></font>&nbsp;8 euros con consumición<strong><span style="font-size: large;"><span style="color: rgb(128, 0, 0);">&nbsp;
								<br>
							</span></span></strong>
						<br>
						<img src="/uploads/image/Sala%20Samotracia/IMG_6941MxV.jpg" width="380" height="254" alt="">
						<br>
						<br>
						Os presentamos un nuevo concierto que nos trae el colectivo Música Por la Voluntad (MxV): musical, poético, intimo, creativo y abierto a todos.&nbsp;
						<br>
						<strong style="color: rgb(128, 0, 0);"><span style="font-size: medium;">
							<br>
							<br>
							<br>
							GARÔA &nbsp;
							<br>
						</span></strong><span style="color: rgb(128, 0, 0);"><strong>
							<br>
							Cuándo:&nbsp;</strong></span>Todos los viernes de octubre&nbsp;
						<br>
						<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>22,45 h.
						<br>
						<font color="#800000"><b>Precio:&nbsp;</b></font>&nbsp;10 euros con consumición
						<br>
						<br>
						<img src="/uploads/image/Sala%20Samotracia/Garoa.jpg" width="380" height="161" alt="">
						<br>
						<br>
						Nuevo concierto de “choro”, también conocido como “chorinho”, de la mano del grupo GARÔA. Se trata de un género de música popular e instrumental brasileña, con más de 130 años de existencia, que ha ido atravesando fronteras con el paso de los siglos.&nbsp;
						<br>
						<strong style="color: rgb(128, 0, 0);"><span style="font-size: large;">
							<br>
							<br>
							<br>
							MARTA CASCALES. RECITAL DE PIANO &nbsp;</span></strong>
					</div>
					<div>
						<div style="text-align: left;">
							<span style="color: rgb(128, 0, 0);"><strong>
								<br>
								Cuándo: </strong></span>Jueves 3 de octubre&nbsp;
						</div>
						<div>
							<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>19.15 h.
							<br>
							<span style="font-family: Tahoma;"><font color="#800000"><b>¡</b></font></span><font color="#800000"><b>El precio lo pones tú!</b></font>&nbsp;
							<br>
							<br>
							<img src="/uploads/image/Sala%20Samotracia/MartaCascales_2.jpg" width="380" height="252" alt="">
						</div>
						<div>
							<br>
							Marta Cascales Alimbau es una pianista y compositora de Barcelona. Estudió en el Conservatorio Municipal de Música de Barcelona &nbsp;y ha compuesto música para diversos proyectos audiovisuales y espectáculos de danza.
						</div>
						<div>
							&nbsp;
						</div>
						<div>
							Nos ofrecerá un recital de piano con obras sencillas, íntimas, directa y lleno de sentimiento.&nbsp;
						</div>
						<div>
							<p>
								&nbsp;
							</p>
							<hr>
							<p>
								&nbsp;
							</p>
							<p>
								&nbsp;
							</p>
						</div>
					</div>
					<div>
						<p>
							&nbsp;<img src="/uploads/image/Cartelera/MAGIACARTE.jpg" width="380" height="84" alt="">
							<br>
							<strong style="color: rgb(128, 0, 0);"><span style="font-size: medium;">
								<br>
								<br>
								ENGLISH MAGIC SHOW! &nbsp;
								<br>
							</span></strong><span style="color: rgb(128, 0, 0);"><strong>
								<br>
								Cuándo:&nbsp;</strong></span>Jueves 3 de octubre&nbsp;
							<br>
							<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>20.00 h.
							<br>
							<font color="#800000"><b>Precio:&nbsp;</b></font>&nbsp;9 euros&nbsp;
							<br>
							<br>
							<img src="/uploads/image/Sala%20Samotracia/English%20Magic%20Showatrapalo.jpg" width="380" height="161" alt="">
							<br>
							<br>
							De la mano de "Magia en tu Centro" llega a Madrid el espectáculo más esperado e innovador: Magia para toda la familia en Inglés. Tanto si eres español, como extranjero, diviértete hablando este idioma, poniéndolo en práctica y por supuesto participando. Un show pionero en España, en busca de la actividad multicultural, promoviendo el aprendizaje de forma interactiva y además la enseñanza educativa de este arte escénica.
							<br>
							<strong style="color: rgb(128, 0, 0);"><span style="font-size: large;">
								<br>
								<br>
								<br>
								MAGIA EN FAMILIA &nbsp;
								<br>
							</span></strong><span style="color: rgb(128, 0, 0);"><strong>
								<br>
								Cuándo:&nbsp;</strong></span>Todos los sábados de octubre&nbsp;
							<br>
							<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>17.30 h.
							<br>
							<font color="#800000"><b>Precio:&nbsp;</b></font>&nbsp;10 euros
						</p>
						<p>
							&nbsp;
						</p>
						<p>
							<span style="color: rgb(128, 0, 0);"><strong>Cuándo:&nbsp;</strong></span>Todos los domingos de octubre&nbsp;
							<br>
							<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>12.00 h.
							<br>
							<font color="#800000"><b>Precio:&nbsp;</b></font>&nbsp;10 euros
						</p>
						<p>
							&nbsp;
						</p>
					</div>
					<div>
						<div>
							<p>
								&nbsp;
								<br>
								<img src="/uploads/image/Sala%20Samotracia/magia%20en%20familia%20atrapalo.jpg" width="380" height="161" alt="">
							</p>
							<p>
								<br>
								Siente la Magia en estado puro de la mano de algunos de los mejores magos de la escena madrileña y multitud de artistas invitados.&nbsp;Magia que podrás tocar, sentir e incluso&nbsp;<span style="font-family: Tahoma;">¡</span>participar en ella! Todo ello a pocos centímetros de tus ojos y al alcance de tu mano.&nbsp;Ven con toda tu familia a disfrutar de un espectáculo especialmente diseñado para público de todas las edades y deja que la ilusión te llene en una tarde que nunca olvidarás.
								<br>
								<strong style="color: rgb(128, 0, 0);"><span style="font-size: medium;">
									<br>
									<br>
									<br>
									GRECA &nbsp;MENTALISTA</span></strong>
							</p>
						</div>
					</div>
					<div>
						<div style="text-align: left;">
							<span style="color: rgb(128, 0, 0);"><strong>Cuándo:&nbsp;</strong></span>Jueves 24 de octubre
							<br>
							<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>22.00 h.
							<br>
							<font color="#800000"><b>Precio:</b></font>&nbsp;10 euros&nbsp;
							<br>
							<br>
							<img src="/uploads/image/Sala%20Samotracia/GrecaMentalistaBanner.jpg" width="380" height="161" alt="">
						</div>
						<div style="text-align: left;">
							&nbsp;
						</div>
						<div>
							<p>
								<span style="color: rgb(128, 0, 0);"><strong>Preestreno</strong></span>
							</p>
							<p>
								Greca es un mentalista madrileño de alma y mente inquieta. Ha viajado por gran parte del mundo en busca de conocimientos, y ha presentado sus sorprendentes efectos en los principales canales de televisión generalistas de nuestro país, además de en teatros (Alfil, Arenal, Cervantes o La Gran Escuela de Magia de Tamariz), festivales temáticos de magia o parque de atracciones como el de Madrid o la Warner. En la Sala Samotracia nos ofrecerá sus fórmulas para sorprender, para poner su mente y la de sus espectadores a prueba. Ven a recorrer la maravillosa y desconocida tierra que es la mente humana. Más info en: <a href="http://www.greca.es "><span style="color: rgb(128, 0, 0);">www.greca.es&nbsp;</span></a>
							</p>
							<p>
								&nbsp;
							</p>
							<p>
								&nbsp;
							</p>
							<div>
								<p>
									<strong style="color: rgb(128, 0, 0);"><span style="font-size: medium;">HALLOWEEN MAGIC</span></strong>
								</p>
							</div>
							<div>
								<span style="color: rgb(128, 0, 0);"><strong>Cuándo:&nbsp;</strong></span>Jueves 31 de &nbsp;octubre
								<br>
								<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>20.00 h.
								<br>
								<font color="#800000"><b>Precio:</b></font>&nbsp;7 euros con consumición
								<br>
								&nbsp;
							</div>
							<p><img src="/uploads/image/Sala%20Samotracia/Halloween%20victoriaBanner.jpg" width="380" height="161" alt="">
								<br>
								<br>
								Ven a disfrutar una noche donde se unen el poder de la magia y el terror propio de Halloween.<span style="font-family: Tahoma;"> ¡</span>Un espectáculo que te dejará boquiabierto y temblando!
							</p>
							<p>
								&nbsp;
							</p>
							<p>
								&nbsp;
							</p>
							<hr>
						</div>
					</div>
					<div>
						<p>
							&nbsp;
						</p>
						<p><img src="/uploads/image/Cartelera/HUMORCARTE.jpg" width="380" height="84" alt="">
						</p>
						<p>
							&nbsp;
						</p>
						<div>
							<div>
								<p>
									<font color="#800000" size="3"><b>ÁLEX BRAVO (Laughter)
										<br>
										</b></font><span style="color: rgb(128, 0, 0);"><strong>
										<br>
										Cuándo:&nbsp;</strong></span>martes 29 de octubre
									<br>
									<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>21.00 h.
									<br>
									<font color="#800000"><b>Precio:</b></font>&nbsp;18 euros con cena (incluye dos consuimiciones y una combinación de tapas de nuestro gastrobar)&nbsp;
									<br>
									&nbsp;
								</p>
							</div>
							<div>
								<div><img src="/uploads/image/AlexBravo.jpg" width="380" height="273" alt="">
								</div>
								<div>
									&nbsp;
								</div>
							</div>
							<p>
								A ver... no es que Alex Bravo no hable de nada en concreto en este monólogo, sino que habla de todo un poco<span style="font-family: Arial;">. ¿</span>Los temas? La familia, el inglés, las relaciones personales, el colegio, salir por la noche, Madrid... &nbsp;Y sobre todo, la risa :)
							</p>
							<p>
								¡Ven a disfrutar de una noche de humor única con uno de los cómicos de stand up de mayor proyección!
							</p>
							<p>
								&nbsp;
							</p>
							<p>
								&nbsp;
							</p>
							<p>
								<font color="#800000" size="3"><b>COMEDY WARS
									<br>
									</b></font><span style="color: rgb(128, 0, 0);"><strong>
									<br>
									Cuándo:&nbsp;</strong></span>Jueves 10 y 17 de &nbsp;octubre
								<br>
								<span style="color: rgb(128, 0, 0);"><strong>Hora:&nbsp;</strong></span>22.00 h.
								<br>
								<font color="#800000"><b>Precio:</b></font>&nbsp;6 euros&nbsp;
								<br>
								&nbsp;
							</p>
						</div>
						<div>
							<div><img src="/uploads/image/Sala%20Samotracia/cOMEDY.jpg" width="380" height="230" alt="">
							</div>
							<div>
								&nbsp;
							</div>
							<div>
								<p>
									&nbsp;Nuevas entregas de los chicos de COMEDY WARS, un comando del cachondeo interestelar que han recorrido varios de los principales locales dedicados al stand up comedy de Madrid.&nbsp;
								</p>
								<p>
									&nbsp;
								</p>
								<p>
									&nbsp;
								</p>
							</div>
						</div>
					</div>
					<div>
						<div style="text-align: center;">
							&nbsp;
						</div>
						<hr>
					</div>
					<div>
						&nbsp;
					</div>
					<div>
						<span style="font-size: medium;"><span style="color: rgb(255, 255, 0);"><span style="background-color: rgb(128, 0, 0);">IMPORTANTE: Espacio Cultural La Victoria - Sala Samotracia no se hace responsable de la cancelación o cambios de horarios ni precios, bien por parte de los artistas o bien por causas de fuerza mayor.</span></span></span>
					</div>
					<div>
						&nbsp;
					</div>
					<hr>
					<div>
						&nbsp;
					</div>
					<p>
						&nbsp;
					</p>
				</div>
				<div class="jspVerticalBar">
					<div class="jspCap jspCapTop"></div>
					<div class="jspTrack" style="height: 180px;">
						<div class="jspDrag" style="height: 9px;">
							<div class="jspDragTop"></div><div class="jspDragBottom"></div>
						</div>
					</div><div class="jspCap jspCapBottom"></div>
				</div>
			</div>
		</div>
		<div class="lower-text">
			<div class="inside-cont">
				<div class="inside">
					<a title="DESCARGA LA PROGRAMACIÓN" target="_blank" href="http://www.lavictoriacultural.com/uploads/pdf/9090abf16126d6c39a03cd306939b427.pdf">DESCARGA LA PROGRAMACIÓN</a>
				</div>
			</div>
		</div>
		<div class="lower-box">
			<div class="lower-cent">
				<a title="Programación" href="/es/pagina/2/17/31/programacion.html"><img alt="go to calendar" src="{{asset('images/site/2012_10_17_ciecie_06.png')}}"></a>
			</div>
		</div>
		<div class="content-image">
			<div class="image"><img alt="ss2" src="http://www.lavictoriacultural.com/uploads/media/small/e6753f332230a6bfe1afdb63874ef305.jpg">
			</div>
		</div>
	</div>
	<div class="main-big-title">
		<div class="theme-sel-7">
			CARTELERA OCTUBRE
		</div>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 