{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{asset('uploads/background/c3cc38c3ccd07116b5e055d29ae183f3.jpg')}}"];

{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	<div class="middle-right-sub-back">
		<div class="black-top"></div>
		<div>
			<div class="black-top-left"></div>
			<div class="black-top-right"></div>
		</div>
		<div class="black-middle"></div>
		<div>
			<div class="black-middle-left"></div>
			<div class="black-middle-right"></div>
		</div>
		<div class="black-bottom" style="height: 816px;"></div>
	</div>
	<div class="top-main-text">
		<div class="top-main-big">
			LA VICTORIA
		</div>
		<div class="top-main-small">
			ESPACIO CULTURAL
		</div>
	</div>
	<div class="upper-text" style="background-color: #ec0052 !important"></div>
	<div class="content-cont">
		<p class="content-title">
			CURSO REGULAR PARA ACTORES 2013/2014
		</p>
		<div class="content scroll-12 jspScrollable" id="scroll-me" style="overflow: hidden; padding: 0px; width: 410px;" tabindex="0">
			<div class="jspContainer" style="width: 410px; height: 180px;">
				<div class="jspPane" style="padding: 0px 10px 0px 0px; width: 371px; top: 0px;">
					<p style="text-align: center;">
						<span style="background-color: rgb(255, 255, 0);"><strong><span style="font-size: medium;">Curso regular para actores&nbsp;</span></strong></span><strong><span style="font-size: medium;">
							<br>
						</span></strong>
					</p>
					<p style="text-align: center;">
						<font size="3"><b>Formación del Actor. Curso Regular de Noviembre a Junio. Abierta Inscripción.&nbsp;</b></font>
					</p>
					<p style="text-align: center;">
						<font size="3"><b>Infórmate y reserva tu plaza en: <a href="javascript:location.href='mailto:'+String.fromCharCode(109,98,116,101,115,112,97,99,105,111,101,115,99,101,110,105,99,111,64,103,109,97,105,108,46,99,111,109)+'?subject=Quiero%20informaci%C3%B3n%20del%20curso%20regular%20para%20actores%20MBT%20%2F%20Sala%20Samotracia'"><span style="color: rgb(128, 0, 0);">mbtespacioescenico@gmail.com</span></a></b></font>
					</p>
					<p style="text-align: center;">
						&nbsp;
					</p>
					<p>
						<strong>Sala Samotracia</strong>&nbsp;y&nbsp;<strong>Espacio MBT&nbsp;</strong>presentan este curso especialmente diseñado para todos aquellos interesados en conocer las herramientas necesarias para llevar a cabo una buena interpretación y para comenzar a moverse en el medio.
					</p>
					<p>
						"Trabajamos con las técnicas y los métodos de los mejores profesionales del medio. Una oportunidad única de aprender y poner en práctica el arte de la interpretación en un ambiente ameno y divertido", explican las instructoras <strong>María Castillo</strong> y <strong>Beatriz</strong><strong>Pasamón</strong>, profesionales en activo del medio.
						<br>
						<strong>
						<br>
						</strong>&nbsp;
					</p>
					<p><img src="/uploads/image/Sala%20Samotracia/Sala%20Samotracia%20(1).jpg" width="400" height="267" alt="">
					</p>
					<p>
						&nbsp;
					</p>
					<p>
						<strong>Programa del curso</strong>
					</p>
					<p>
						<strong>OBJETIVOS GENERALES</strong>
					</p>
					<p>
						Conseguir que el alumno comprenda y experimente que el movimiento nace de la acción interna y que es fruto de la necesidad orgánica de expresar algo que está dentro de nosotros mismos. El movimiento escénico debe ser consciente, es decir, nos damos cuenta &nbsp;no sólo de que se está produciendo, sino que necesitamos saber cómo &nbsp;lo estamos llevando a cabo. Por lo tanto necesitamos desarrollar la percepción sensorial de nosotros mismos hasta hacerla lo más fiable posible. Asimismo es necesario aprender a permitir que el movimiento responda a impulsos genuinos y auténticos, de modo que se exista verdad en nuestra manera de movernos en el espacio escénico.
					</p>
					<p>
						Experimentar la máxima libertad y fluidez posible nuestros movimientos es algo no sólo deseable en el actor sino que es necesario para interpretar el personaje.&nbsp;
						<br>
						<strong>
						<br>
						Otros objetivos son:&nbsp;</strong>
					</p>
					<p>
						-Descubrir que es presencia escénica y como mantenerla durante un movimiento.
					</p>
					<p>
						-Comprender y experimentar que el equilibrio es una función de la inteligencia.
					</p>
					<p>
						-Mejorar la coordinación
					</p>
					<p>
						-Buscar siempre la justeza o economía (impecabilidad) y la precisión, intentando que no falte ni sobre nada cuando generamos movimientos.
					</p>
					<p>
						-Preparar músculos, articulaciones y tendones para que respondan de la manera más eficaz a las necesidades internas de expresar algo.&nbsp;
					</p>
					<p>
						-Trabajar siempre desde la idea de que somos criaturas psicofísicas en actividad y que nos movemos y actuamos como individuos completos. No es una clase de “cuerpo”. Es cuerpo y mente a la vez.
					</p>
					<p>
						-Adquirir &nbsp;los conocimientos básicos de anatomía de fisiología humanas que afectan a nuestro desarrollo como actores y siempre enfocadas a una práctica concreta.
					</p>
					<p>
						- Profundizar en los objetivos del nivel anterior integrando las premisas técnicas estudiadas he insistiendo en el correcto funcionamiento de los mecanismos del instrumento actoral (eliminación de resistencias, enriquecimiento y habilidades, vivencia de situaciones imaginarias, conciencia y ampliación de medios expresivos…)
					</p>
					<p>
						- Proporcionar al alumno las herramientas necesarias para que pueda encarnar personajes de forma orgánica, imaginativa y eficaz.
					</p>
					<p>
						- Capacitar al alumno &nbsp;para reconocer desde el análisis dramatúrgico los componentes básicos de la obra, centrándose en el trabajo específico de la escena.
					</p>
					<p>
						- Entrenar al actor en el trabajo sobre diferentes poéticas enfrentándole a las dificultades que genere cada una de ellas (género y estilo).
					</p>
					<p>
						- Como afrontar un casting (que hay que hacer)
					</p>
					<p>
						- Que tipo de perfil comercial tienes? (según carácter, fisonomía etc…)
					</p>
					<p>
						&nbsp;
					</p>
					<p>
						<strong>ESTRUCTURA DE LAS CLASES</strong>
					</p>
					<p>
						- La primera parte de la clase se dedicará a &nbsp;un calentamiento pormenorizado. Insistiremos en el fortalecimiento de los músculos de reflejo antigravitatorio y gradualmente se ira trabajando la musculatura esquelética para conseguir el máximo rendimiento y control expresivo. &nbsp;Este calentamiento que está basado entre fuentes principales:
					</p>
					<p>
						- Juegos ( técnica Alexander) de Dylis Carrington.
					</p>
					<p>
						- La Tensegridad (movimientos para liberar la energía de músculos y tendones).
					</p>
					<p>
						- Voz (problemas de dicción).
					</p>
					<p>
						- La segunda parte de la clase se dedicará a prácticas escénicas de movimiento. Estas son:
					</p>
					<p>
						- El acto de estar de pie. Focos visuales. El acto de caminar. Entrar y salir de escena. Variantes y ritmos.
					</p>
					<p>
						- Manipulación de objetos. Actividades. Manejos de elementos escenográficos y mobiliario.
					</p>
					<p>
						- Movimiento en grupo. Coro. Composiciones entre varios actores.
					</p>
					<p>
						- Caracterización a través del movimiento. El personaje.&nbsp;
					</p>
					<p>
						&nbsp;
					</p>
					<p>
						<strong>CONTENIDOS</strong>
					</p>
					<p>
						-Los sucesos. Bloques de acción. Transiciones &nbsp;y rompimientos.
					</p>
					<p>
						-Ejercicios de improvisación como personaje. (Circunstancias dadas, objetivos, razones, conflictos, antecedentes, relaciones, estados de ánimos…)
					</p>
					<p>
						-Línea de acción del personaje. Línea de pensamiento.
					</p>
					<p>
						-Exploración racional de la escena.
					</p>
					<p>
						-Relaciones con los demás personajes.
					</p>
					<p>
						-Las atmósferas.
					</p>
					<p>
						-La intención es su lógica. El sentido de la forma. Tiempo y ritmo.
					</p>
					<p>
						&nbsp;
					</p>
					<p>
						<strong>METODOLOGÍA</strong>
					</p>
					<p>
						La metodología del curso se basa en la comprensión a partir de la acción y en el uso de la imaginación como elemento central en el proceso creador. Las clases tendrán un desarrollo práctico con un seguimiento individualizado a través de las distintas escenas y monólogos trabajados. El alumno integra y supera la técnica, y mientras “aclara” la escena aborda sus problemas específicos, insistiendo en sus ensayos particulares. En clase se confronta el trabajo realizado y se buscan posibles soluciones a los problemas surgidos.
					</p>
					<p>
						&nbsp;
					</p>
					<p>
						&nbsp;
					</p>
				</div>
				<div class="jspVerticalBar">
					<div class="jspCap jspCapTop"></div>
					<div class="jspTrack" style="height: 180px;">
						<div class="jspDrag" style="height: 9px;">
							<div class="jspDragTop"></div><div class="jspDragBottom"></div>
						</div>
					</div><div class="jspCap jspCapBottom"></div>
				</div>
			</div>
		</div>
		<div class="lower-text"></div>
		<div class="lower-box">
			<div class="lower-cent">
				<a title="Programación" href="/es/pagina/2/17/30/programacion.html"><img alt="go to calendar" src="{{asset('images/site/2012_10_17_ciecie_06.png')}}"></a>
			</div>
		</div>
		<div class="content-image">
			<div class="image" style="display: none"><img alt="curso herramientas" src="{{asset('uploads/media/small/3e0554304e4517bac4e814492c4f9a0c.jpg')}}">
			</div>
		</div>
	</div>
	<div class="main-big-title">
		<div class="theme-sel-12">
			Curso regular para actores 2013/2014
		</div>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 