{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{ asset(''~ background.getWebPath ~'') }}"];
{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	<div class="middle-right-sub-back">
		<div class="black-top"></div>
		<div>
			<div class="black-top-left"></div>
			<div class="black-top-right"></div>
		</div>
		<div class="black-middle"></div>
		<div>
			<div class="black-middle-left"></div>
			<div class="black-middle-right"></div>
		</div>
		<div class="black-bottom" style="height: 1170px;"></div>
	</div>
	<div class="top-main-text">
		<div class="top-main-big">
			LA VICTORIA
		</div>
		<div class="top-main-small">
			ESPACIO CULTURAL
		</div>
	</div>
	<div class="upper-text" style="background-color: {{theme.color}} !important"></div>
	<div class="news-cont">
		<hr>
		<p class="content-title">
			Gastrobar
		</p>
		<div class="content-news scroll-10">

			<div class="news-cell">
				<table>
					<tr>

						<td width="100%"  valign="top">
							<p>{{page.name}}</p> 
							<p> 
							{{page.content|raw}}
							</p>
			
						</td>
					</tr>
				</table>
			</div>
		
		</div>
		<div class="lower-text"></div>
		<div class="lower-box" style="right: 200px;"></div>
	</div>
	<div class="main-big-title news-big-title" style="">
		<div class="theme-sel-2">
			Gastrobar
		</div>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 