{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{asset('uploads/background/c3cc38c3ccd07116b5e055d29ae183f3.jpg')}}"];

{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	<div class="middle-right-sub-back">
		<div class="black-top"></div>
		<div>
			<div class="black-top-left"></div>
			<div class="black-top-right"></div>
		</div>
		<div class="black-middle"></div>
		<div>
			<div class="black-middle-left"></div>
			<div class="black-middle-right"></div>
		</div>
		<div class="black-bottom" style="height: 766px;"></div>
	</div>
	<div class="top-main-text">
		<div class="top-main-big">
			LA VICTORIA
		</div>
		<div class="top-main-small">
			ESPACIO CULTURAL
		</div>
	</div>
	<div class="upper-text" style="background-color: #780e12 !important"></div>
	<div class="content-cont">
		<p class="content-title">
			INFORMACIÓN Y RESERVAS
		</p>
		<div class="content scroll-7" id="scroll-me" style="overflow: hidden; padding: 0px; width: 410px;">
			<div class="jspContainer" style="width: 410px; height: 180px;">
				<div class="jspPane" style="padding: 0px 10px 0px 0px; top: 0px; width: 400px;">
					<p style="text-align: center;">
						<strong>&nbsp;Si quieres reservar tu entrada para cualquiera de las obras y conciertos programados contacta con nosotros</strong>
						<br>
						<strong>
						<br>
						Teléfonos</strong>: 618506681 y 687631679
						<br>
						<strong>Email</strong>: salasamotracia@lavictoriacultural.com
					</p>
				</div>
			</div>
		</div>
		<div class="lower-text"></div>
		<div class="lower-box">
			<div class="lower-cent">
				<a title="Programación" href="/es/pagina/2/17/29/programacion.html"><img alt="go to calendar" src="{{asset('images/site/2012_10_17_ciecie_06.png')}}"></a>
			</div>
		</div>
	</div>
	<div class="main-big-title">
		<div class="theme-sel-7">
			Información y reservas
		</div>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 