{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{asset('uploads/background/bbe042e3c812e88ae2b1a96df3122870.jpg')}}"];

{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	<div class="middle-right-sub-back">
		<div class="black-top"></div>
		<div>
			<div class="black-top-left"></div>
			<div class="black-top-right"></div>
		</div>
		<div class="black-middle"></div>
		<div>
			<div class="black-middle-left"></div>
			<div class="black-middle-right"></div>
		</div>
		<div class="black-bottom" style="height: 1460px;"></div>
	</div>
	<div class="top-main-text">
		<div class="top-main-big">
			LA VICTORIA
		</div>
		<div class="top-main-small">
			ESPACIO CULTURAL
		</div>
	</div>
	<div class="upper-text" style="background-color: #bac8d1 !important"></div>
	<div class="content-cont">
		<p class="content-title">
			LOS MARTES: SUPER QUIZ!
		</p>
		<div class="content scroll-2 jspScrollable" id="scroll-me" style="overflow: hidden; padding: 0px; width: 410px;" tabindex="0">
			<div class="jspContainer" style="width: 410px; height: 180px;">
				<div class="jspPane" style="padding: 0px 10px 0px 0px; width: 371px; top: 0px;">
					<p>
						&nbsp;<img src="{{asset('uploads/image/Sala%20Samotracia/QUIZWEB.jpg')}}" width="380" height="993" alt="">
					</p>
				</div>
				<div class="jspVerticalBar">
					<div class="jspCap jspCapTop"></div>
					<div class="jspTrack" style="height: 180px;">
						<div class="jspDrag" style="height: 9px;">
							<div class="jspDragTop"></div><div class="jspDragBottom"></div>
						</div>
					</div><div class="jspCap jspCapBottom"></div>
				</div>
			</div>
		</div>
		<div class="lower-text"></div>
		<div class="lower-box">
			<div class="lower-cent">
				<a title="Programación" href="/es/pagina/2/6/33/programacion.html"><img alt="go to calendar" src="{{asset('images/site/2012_10_17_ciecie_06.png')}}"></a>
			</div>
		</div>
	</div>
	<div class="main-big-title">
		<div class="theme-sel-2">
			LOS MARTES: SUPER QUIZ!
		</div>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 