{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{asset('uploads/background/f39259d5399a8b222ef1421163703a17.jpg')}}"];

{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	<div class="middle-right-sub-back">
		<div class="black-top"></div>
		<div>
			<div class="black-top-left"></div>
			<div class="black-top-right"></div>
		</div>
		<div class="black-middle"></div>
		<div>
			<div class="black-middle-left"></div>
			<div class="black-middle-right"></div>
		</div>
		<div class="black-bottom" style="height: 766px;"></div>
	</div>
	<div class="top-main-text">
		<div class="top-main-big">
			LA VICTORIA
		</div>
		<div class="top-main-small">
			ESPACIO CULTURAL
		</div>
	</div>
	<div class="upper-text" style="background-color: #898989 !important"></div>
	<div class="content-cont">
		<p class="content-title">
			PRESÉNTANOS TU PROYECTO
		</p>
		<div class="content scroll-8 jspScrollable" id="scroll-me" style="overflow: hidden; padding: 0px; width: 410px;" tabindex="0">
			<div class="jspContainer" style="width: 410px; height: 180px;">
				<div class="jspPane" style="padding: 0px 10px 0px 0px; width: 371px; top: 0px;">
					<p style="text-align: left;">
						Desde el <strong>Espacio Cultural La Victoria </strong>seguimos convocando<strong>&nbsp;</strong>a artistas de teatro, pintura, fotografía, música, poesía, literatura, comedia, baile, cine, documental, videoarte o cualquier otra manifestación artística, para desarrollar nuestra programación cultural de los próximos meses y seguir dándole vida a nuestro espacio —tu espacio—, que ya comenzamos a convertir en una referencia dentro de la oferta cultural de Madrid. Nos dirigimos a aquellas personas o colectivos que deseen transmitir su conocimiento a la comunidad, desde cualquier manifestación artística o pedagógica.
						<br>
						<br>
						Si tienes un dossier de tu obra, un video en Youtube de tu banda o tu espectáculo o fotos de tu obra, pásate a conocernos por la <strong>Calle Santa Isabel, número 40</strong>, y cuéntanoslo. Si hay un proyecto en tu cabeza al quieras dar forma, ven a conocer nuestras instalaciones y visualizarás mejor cómo llevarlo a la realidad. Te intentaremos aconsejar sobre la manera óptima de idearlo.
						<br>
						<br>
						Las actividades se desarrollarán en la <span style="color: rgb(128, 0, 0);"><strong><span style="color: rgb(128, 0, 0);"><a href="http://www.lavictoriacultural.com/es/pagina/6/sala-samotracia.html"><span style="color: rgb(128, 0, 0);">Sala Samotracia</span></a></span></strong></span><strong>,&nbsp;</strong>una bóveda de ladrillo con una altura máxima de 2,63 metros, un aforo de 40 personas, y un escenario de 3,10 x 2 metros con telón manual. La<strong> Sala Samotracia </strong>albergará también actividades de naturaleza pedagógica y académica. Se utilizará para talleres, encuentros temáticos, proyecciones de cine y documentales, presentaciones...
						<br>
						<br>
						Las amplias paredes de nuestra cafetería sirven de sala de exposiciones, una galería disponible para aquellas artes que no precisan un escenario, pero sí una ubicación visible y luminosa.
						<br>
						<br>
						Las condiciones se negocian directamente con los responsables del Espacio Cultural: <strong>Rafael Clemente y Joel Machbrit.
						<br>
						</strong>
						<br>
						También puedes escribirnos a:
						<br>
						<strong>espaciolavictoria@gmail.com </strong>o<strong> <a href="http://www.lavictoriacultural.com/es/pagina/14/reservas-y-contacto.html"><span style="color: rgb(128, 0, 0);">contactar por teléfono</span></a></strong>
					</p>
					<div style="text-align: left;">
						&nbsp;
					</div>
					<p style="text-align: justify;">
						&nbsp;
					</p>
				</div>
				<div class="jspVerticalBar">
					<div class="jspCap jspCapTop"></div>
					<div class="jspTrack" style="height: 180px;">
						<div class="jspDrag" style="height: 9px;">
							<div class="jspDragTop"></div><div class="jspDragBottom"></div>
						</div>
					</div><div class="jspCap jspCapBottom"></div>
				</div>
			</div>
		</div>
		<div class="lower-text"></div>
		<div class="lower-box">
			<div class="lower-cent">
				<a title="Programación" href="/es/pagina/2/100/10/programacion.html"><img alt="go to calendar" src="{{asset('images/site/2012_10_17_ciecie_06.png')}}"></a>
			</div>
		</div>
		<div class="content-image">
			<div class="image"><img alt="ss2" src="{{asset('uploads/media/small/e6753f332230a6bfe1afdb63874ef305.jpg')}}">
			</div>
		</div>
	</div>
	<div class="main-big-title">
		<div class="theme-sel-8">
			PRESÉNTANOS TU PROYECTO
		</div>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 