{% extends "ProyectoFrontBundle:Helpers:body.html.twig" %}

{%block imagenes%}
var images = ["{{asset('uploads/background/c3cc38c3ccd07116b5e055d29ae183f3.jpg')}}"];

{%endblock%}

{%block contenido%}
<div class="middle-right-sub">
	<div class="middle-right-sub-back">
		<div class="black-top"></div>
		<div>
			<div class="black-top-left"></div>
			<div class="black-top-right"></div>
		</div>
		<div class="black-middle"></div>
		<div>
			<div class="black-middle-left"></div>
			<div class="black-middle-right"></div>
		</div>
		<div class="black-bottom" style="height: 766px;"></div>
	</div>
	<div class="top-main-text">
		<div class="top-main-big">
			LA VICTORIA
		</div>
		<div class="top-main-small">
			ESPACIO CULTURAL
		</div>
	</div>
	<div class="upper-text" style="background-color: #780e12 !important"></div>
	<div class="content-cont">
		<p class="content-title">
			TALLER DE TEATRO PARA AFICIONADOS
		</p>
		<div class="content scroll-7 jspScrollable" id="scroll-me" style="overflow: hidden; padding: 0px; width: 410px;" tabindex="0">
			<div class="jspContainer" style="width: 410px; height: 180px;">
				<div class="jspPane" style="padding: 0px 10px 0px 0px; width: 371px; top: 0px;">
					<p>
						<span style="font-family: Arial;">&nbsp;¿</span>Te gusta el <strong>teatro</strong>?
					</p>
					<div>
						<span style="font-family: Arial;">¿</span>Quieres vivir una <strong>experiencia inolvidable</strong>?
					</div>
					<div>
						<span style="font-family: Arial;">¿</span>Te apetece superar tus miedos e inseguridades de manera creativa y divertida?
					</div>
					<div>
						&nbsp;
					</div>
					<div>
						Información: <strong>620821991 </strong>(Rocío)
					</div>
					<div>
						&nbsp;
					</div>
					<div>
						<strong>2 grupos de 10 alumnos cada uno.</strong>
					</div>
					<div>
						<strong>50 euros al mes. Sin inscripción.</strong>
					</div>
					<div>
						&nbsp;
					</div>
					<div>
						<strong>Fechas: </strong>12 sábados / Del 2 de noviembre al 25 de enero 2014
					</div>
					<div>
						&nbsp;
					</div>
					<div>
						<strong>Horarios: </strong>de 10.00 a 12.00 h. / de 12.30 a 14.30 h.<strong>
						<br>
						</strong>
						<br>
						&nbsp;<img src="/uploads/image/Sala%20Samotracia/teatro.jpg" width="380" height="537" alt="">
					</div>
				</div>
				<div class="jspVerticalBar">
					<div class="jspCap jspCapTop"></div>
					<div class="jspTrack" style="height: 180px;">
						<div class="jspDrag" style="height: 9px;">
							<div class="jspDragTop"></div><div class="jspDragBottom"></div>
						</div>
					</div><div class="jspCap jspCapBottom"></div>
				</div>
			</div>
		</div>
		<div class="lower-text"></div>
		<div class="lower-box">
			<div class="lower-cent">
				<a title="Programación" href="/es/pagina/2/17/32/programacion.html"><img alt="go to calendar" src="{{asset('images/site/2012_10_17_ciecie_06.png')}}"></a>
			</div>
		</div>
	</div>
	<div class="main-big-title">
		<div class="theme-sel-7">
			Taller de Teatro para Aficionados
		</div>
	</div>
</div>
{%endblock%}

{%block celda%} <div class="cell-right-sub"></div>
{%endblock%} 